<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
	<add name="MiConexion"
         onnectionString="Data Source=SERVIDOR_SQL;Initial Catalog=TestSIE;Persist Security Info=True;User ID=testsieusr;Password=T3stS!eP@ss2025;"
         providerName="System.Data.SqlClient" />
	</connectionStrings>

	<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>